*{
    padding: 0;
    margin: 0;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
}

#container{
    display: block;
    margin: 1em;
    color: rgb(0, 140, 255);
    border-radius: 1em;
    border: 0.2em solid rgb(107, 106, 106);
    overflow: hidden;
}

#container>.head{
    display: flex;
    justify-content: center;
    padding: 1em;
    background: rgb(197, 197, 197);
}

#container>.body{
    display: flex;
}

.col{
    display: inline;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    min-height: 1em;
    border: 0.2em solid rgb(107, 106, 106);
}

.head>button{
    margin: 0em 1em;
    padding: 0.2em 0.5em;
}

.title{
    font-weight: 900;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    border: 0.25em black solid;
    background: white;
}