@import url('../../../assets/css/base.css');

/* Section-specific styles for CRUD */
body {
    background: white;
    color: black;
}

h1 {
    position: relative;
    padding: 1em;
}

table {
    width: 100%;
}

table, th, tr {
    padding: 0.5em;
    border-radius: 1em 1em 0em 0em;
    text-align: center;
}

th {
    border-bottom: 0.2em solid rgb(0, 0, 0);
}

input {
    padding: 0.5em;
    max-width: 12em;
    color: black;
}

.back-button {
    color: black;
    background: white;
}

.edit, .delete {
    padding: 0.5em 0em;
    font-weight: 900;
    border-radius: 0.5em;
    margin: 0.2em;
    width: 45%;
    border: none;
    transition: 0.25s;
}
.edit {
    background-color: rgb(9, 255, 0);
}
.delete {
    background-color: rgb(255, 0, 0);
}
.edit:hover, .edit:focus, .delete:hover, .delete:focus {
    box-shadow: 0em 0em 0.2em white;
    transform: scale(1.1);
}
.editing {
    background: rgba(255, 255, 255, 0.623);
    color: white;
}
.col90 {
    width: 90%;
}
.sp-even {
    justify-content: space-evenly;
}
.sp-between {
    justify-content: space-between;
}
#save {
    width: 50%;
    margin: 1em;
    padding: 1em;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 1em;
    transition: 0.25s;
}
#save:hover {
    box-shadow: 0 0 0.5em white;
}