*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

button{
    position: relative;
    margin: 2em;
    min-width: 25em;
    border-radius: 2em;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.75);
    border: none;
    transition: 0.25s;
    z-index: 2;
}

.spacing{
    padding: 1em;
}

.white{
    background-color: white;
}

.flex{
    display: flex;
}

.centerX{
    align-items: center;
}

.centerY{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.pulsing2::after{
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    background-color:rgba(241, 41, 44, 0.75);
    z-index: -1;
}