*{
    padding: 0;
    margin: 0;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --grad: rgb(255, 0, 221),rgb(255, 81, 81);
    transition: 0.5s;
}

html,body,#dv { /* so that the #dv can fill up the page */
    width:100%;
}

body{
    background: radial-gradient(var(--grad));
}

label{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.25em;
}

select{
    position: relative;
    width: 20em;
    padding: 1em 0.5em;
    border: none;
    border-radius: 1em;
    font-weight: bold;
    background: radial-gradient(circle, rgb(255, 81, 81) 0%, rgb(255, 255, 0) 200%);
    text-align: center;
    text-align-last: center;
}

option{
    font-size: 1rem;
}

button{
    position: relative;
    margin: 0.5em;
    min-width: 5em;
    border-radius: 2em;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.75);
    border: none;
    transition: 0.25s;
    z-index: 2;
}

td, th{
    padding: 0.5em;
    text-align: center; 
}

th{
    background: rgb(121, 218, 121);
    border-bottom: 0.2em solid rgb(0,0,0);
}

th:last-of-type{
    border-radius: 0 1em 0 0;
}

th:first-of-type{
    border-radius: 1em 0 0 0;
}

tr:nth-of-type(odd){
    background-color: #b9b9b9;
}

tr:last-of-type{
    border-bottom: 0.2em solid rgb(0,0,0);
}

table{
    border-collapse: collapse;
    margin: 0.5em 0;
    font-size: 0.9rem;
    font-family: sans-serif;
    box-shadow: 0 0 20px solid rgba(0, 0, 0, 0.15);
    min-width: 90%;
}

span{
    text-decoration: dotted;
    font-weight: bold;
}

label{
    margin-top: 2em;
}

.redbar::after{
    position: relative;
    content: '';
    pointer-events: none;
    top: 100%;
    left: 0%;
    width: 100%;
    border:solid rgb(255, 0, 0);
    border-radius: 0.5em;
}

.container{
    position: relative;
    padding: 1em;
    margin: 5em 0;
    min-width: 40%;
    max-width: 90%;
    background: white;
    border-radius: 1em;
    box-shadow: 0 0 1em;
}

.show_number{
    position: relative;
    top: 0%;
    left: 45.5%;
    font-weight: bold;
    transition: 0.1s;
}

.pulsing2::after{
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    background-color:rgba(241, 41, 44, 0.75);
    z-index: -1;
}